<%- include('header'); -%>

  <main >
    <div class="contact">
      <h2 class="contacttitel">CONTACT</h2>
      <h2 class="contacttitel2">CONTACT</h2>

    <div class="kader">

        <h3>Wie</h3>
        <p>Katie Smolders</p>
        <h3>Wat</h3>
        <p>Vincent van Gogh Museum</p>
        <h3>Waar</h3>
         <p>Museumplein 6, Amsterdam</p>

        <h3>Waarom</h3>

    </div>
    </div>



  </main>


<%- include('footer'); -%>
<link rel="stylesheet" href="/css/master.css">
