<%- include('header'); -%>

  <main >
    <div class="contact">
      <h2 class="contacttitel">CONTACT</h2>
      <h2 class="contacttitel2">CONTACT</h2>

    <div class="kader">

        <h3>Wie</h3>
        <p>Katie Smolders</p>
        <h3>Wat</h3>
        <p>Vincent van Gogh Museum</p>
        <h3>Waar</h3>
         <p>Museumplein 6, Amsterdam</p>
        <h3>Waarom</h3>
        <p>Ik heb voor dit museum gekozen omdat het een van mijn favoriete museums is. Van Gogh is waarschijnlijk wel bij iedereen gekend. Daarom zal deze website een meerwaarde betekenen voor wie dat fan is!</p>

    </div>

    <div class="Message">
      <h3>Laat van je horen!</h3>
      <label for="">NAAM*</label><br>
      <input type="your name" name="name" value=""><br>
      <label for="">EMAIL-ADRES*</label><br>
      <input type="your email" name="mail" value=""><br>
      <label for="">JE BOODSCHAP*</label>
      <textarea name="type your message" rows="8" cols="80"></textarea>
      <button class="send" type="button" name="button">VERSTUUR</button>
    </div>
    </div>



  </main>


<%- include('footer'); -%>
<link rel="stylesheet" href="/css/master.css">
