<!DOCTYPE html>
<html lang="nl-BE" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Katie Smolders">
    <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=News+Cycle&display=swap" rel="stylesheet">
    <meta name="description" content="Museumapp">
    <title>Museumapp</title>

  </head>

  <body>
    <header>
      <nav>
        <ul class="navigatie">
          <li> <a href="/">home</a> </li>
          <li><a href="/galerij">gallerij</a> </li>
          <li> <a href="/contact">contact</a> </li>
        </ul>
      </nav>
    </header>


<link rel="stylesheet" href="/css/master.css">
