<%- include('header'); -%>

  <main class="home">

      <h2>Van Gogh Museum</h2>
      <h2 class="titel2">Van Gogh Museum</h2>
      <h3>Welkom</h3>
      <h3>Werk in de kijker</h3>
  </main>

<%- include('footer'); -%>
